<template name="MatchDetailTemplate">
	<div class="row">
		{{#each match}}
		<div class="col-lg-9 col-md-9">
			<div class="row mt">
				<div class="col-lg-12 col-md-12">
				<div class="content-panel">
					<div class="row">
						<div class="col-lg-5 col-md-5">
							<div class="col-lg-6 col-md-6 centered">
								<div class="row">{{#if gameType}}
											{{teeamInMatchDetail.[0].name}}
										{{else}}
											{{playerInMatchDetail.[0].nickName}}
										{{/if}}</div>
								<div class="row">Score</div>
							</div>
							<div class="col-lg-6 col-md-6 centered">
								Avatar
							</div>
						</div>
						<div class="col-lg-2 col-md-2 centered">
							<div class="row">Start time</div>
							<div class="row">Count down </div>
						</div>
						<div class="col-lg-5 col-md-5">
							<div class="col-lg-6 col-md-6 centered">
								Avatar
							</div>
							<div class="col-lg-6 col-md-6 centered">
								<div class="row">{{#if gameType}}
											{{teeamInMatchDetail.[1].name}}
										{{else}}
											{{playerInMatchDetail.[1].nickName}}
										{{/if}}</div>
								<div class="row">Score</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	{{/each}}
	</div>
</template>
