<template name="UIPagination">
  <ul class="pagination">
  {{#if showPrev this.count}}
    <li>
      <a aria-label="Previous" class="pagePrev">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
  {{/if}}
  {{#each pages this.count}}
      <li><a class="pageNumber">{{this}}</a></li>
  {{/each}}
  {{#if showNext this.count}}  
    <li>
      <a aria-label="Next" class="pageNext">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {{/if}}
  </ul>
</template>
