<template name="AdminHeader">
	<div class="navbar-header"><button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span></button>
		<a class="navbar-brand" href="/admin">Cogs</a>
	</div>
</template>