<template name="AdminLayout"> 
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			{{> Template.dynamic template=adminHeader}}
			{{> Template.dynamic template=adminTopmenu}}
		</nav>
	</div>
	<div class="navbar-default sidebar" role="navigation">
		{{> Template.dynamic template=adminSiderbar}}
	</div>
	<div id="page-wrapper"> 
		{{> Template.dynamic template=main}}
	</div>
</template>