<template name="AdminTopMenu">
	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a>
			<ul class="dropdown-menu dropdown-user">
				<li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a></li>
				<li><a href="#"><i class="fa fa-gear fa-fw"></i>
				Settings</a></li>
				<li class="divider"></li>
				<li><a id="sign-out" href="#"><i class="fa fa-sign-in fa-fw"></i>
				Sign Out</a></li>
			</ul>
		</li>
	</ul>
</template>