<template name="AdminPlayerForm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				{{> Template.dynamic template=addOrEdit}}
			</div>
		</div>
	</div>
</template>
<template name="insertAdminPlayerForm">
	<div class="panel-heading">Add Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Players" id="insertAdminPlayerForm" type="insert" }}
		 	{{> afQuickField name='image'}}
		 	{{> afQuickField name='nickName' autofocus=''}}
		 	{{> afQuickField name='realName'}}
		 	{{> afQuickField name='country'}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Add Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
	 	{{/autoForm}}
	</div>
</template>
<template name="updateAdminPlayerForm">
	<div class="panel-heading">Edit Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Players" id="updateAdminPlayerForm" type="update" doc=docPlayer}}
		 	{{> afQuickField name='image'}}
		 	{{> afQuickField name='nickName' autofocus=''}}
		 	{{> afQuickField name='realName'}}
		 	{{> afQuickField name='country'}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Eidt Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
		 {{/autoForm}}
	</div>
</template>
<template name="adminPlayerImage">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>