<template name="AdminPlayerView">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Player</h1>
            <p> Welcome to gaming central </p>
        </div>
        <div class="row">>
        	{{> AdminPlayersTable}} 
        </div>
    </div>
</template>