<template name="login">
	<div class="container">
		<div class="row text-center">
			<h1 style="color:white"> Cogs </h1>
		</div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        {{> LoginForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>