<template name="UserProfile">
  <div class="container">
    <h1>Edit Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      <div class="col-md-3" id="userProfileImage">
        {{> UserImageProfile}}
      </div>

      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        {{> UserChangeInfo}}
        {{> UserChangePassword}}
      </div>
  </div>
</div>
<hr>
</template>
<template name="UserImageProfile">
  <div class="text-center">
    {{> avatar user=currentUser size="large"}}
    {{#if userImage}}
      {{#with userImage}}
        {{#FS.DeleteButton class="btn btn-danger btn-xs"}}Remove{{/FS.DeleteButton}}
      {{/with}}
    {{else}}
      <h6>Upload a different photo...</h6>
      <input type="file" class="form-control" id="jsInputFile">
    {{/if}}
  </div>
</template>
<template name="UserChangeInfo">
  <h3>Personal info</h3>

  <form class="form-horizontal" id="changeInfo" role="form">
    <div class="form-group">
      <label class="col-lg-3 control-label">First name:</label>
      <div class="col-lg-8">
        <input class="form-control" id="firstName" name="firstName" type="text" value="{{currentUser.profile.firstName}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-3 control-label">Last name:</label>
      <div class="col-lg-8">
        <input class="form-control" id="lastName" name="lastName" type="text" value="{{currentUser.profile.lastName}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <input type="submit" class="btn btn-primary" id="btnSave" value="Save Changes">
        <span></span>
        <input type="reset" class="btn btn-default" id="btnReset" value="Cancel">
      </div>
    </div>
  </form>
</template>
<template name="UserChangePassword">
  <h3>Change Password</h3>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-md-3 control-label">Current Passowrd:</label>
      <div class="col-md-8">
        <input class="form-control" name="oldPassword" id="oldPassword" type="password" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Password:</label>
      <div class="col-md-8">
        <input class="form-control" name="password" id="password" type="password" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Confirm password:</label>
      <div class="col-md-8">
        <input class="form-control" name="confirmPassword" id="confirmPassword" type="password" value="">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <input type="submit" class="btn btn-primary" value="Save Changes">
        <span></span>
        <input type="reset" class="btn btn-default" value="Cancel">
      </div>
    </div>
  </form>
</template>
