<template name="AdminTeamForm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				{{> Template.dynamic template=addOrEdit}}
			</div>
		</div>
	</div>
</template>
<template name="insertAdminTeamForm">
	<div class="panel-heading">Add Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Teams" id="insertAdminTeamForm" type="insert" }}
		 	{{> afQuickField name='image'}}
		 	{{> afQuickField name='name' autofocus=''}}
		 	{{> afQuickField name='subteam'}}
		 	{{> afQuickField name='country'}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Add Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
	 	{{/autoForm}}
	</div>
</template>
<template name="updateAdminTeamForm">
	<div class="panel-heading">Edit Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Teams" id="updateAdminTeamForm" type="update" doc=docTeam}}
		 	{{> afQuickField name='image'}}
		 	{{> afQuickField name='name' autofocus=''}}
		 	{{> afQuickField name='subteam'}}
		 	{{> afQuickField name='country'}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Eidt Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
		 {{/autoForm}}
	</div>
</template>
<template name="adminTeamImage">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>