<template name="AdminTeamView">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Teams</h1>
            <p> Welcome to gaming central </p>
        </div>
        <div class="row">
        	{{> AdminTeamsTable}}
    	</div>
    </div>
</template>