<template name="AdminTeamsTable">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Teams</div>
			<div class="panel-body">
				<div class=""><button class="btn btn-outline btn-primary" id="btnNew">Add new</button></div>
				<div class="table-responsive">
					<table id="userData" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Image</th>
								<th>Name</th>
								<td>Country</td>
								<th>Action(s)</th>
							</tr>
						</thead>
						<tbody>
						{{#if isSubReady 'teamsList'}}
							{{#each teams}}
								<tr class="userData">
									{{#if image}}
										{{#with image}}
												<td><img src="{{this.url}}" /></td>
										{{/with}}
									{{else}}
										<td><img src="/things/no-image-featured-image.png" width="100px" height="100px"/></td>
									{{/if}}
									<td>{{name}}</td>
									<td>{{country}}</td>
									<td>{{> normalButtonTeamAction}} </td>
								</tr>
							{{/each}}
						{{else}}
							Loading..
						{{/if}}
						</tbody
	>				</table>
				</div>
				<nav>
					{{> UIPagination itemsPerPage=3 pageNumber=5 count='admimTeamsPage'}}
				</nav>
				{{> addImagesToDocModal}}
			</div>
		</div>
	</div>
</template>
<template name="normalButtonTeamAction">
	<button class="btn btn-outline btn-primary" id='btnEdit'>Edit</button>
	<button class="btn btn-outline btn-primary" id="btnDelete">Delete</button>
	{{> btnAddImageToDoc collection="gm_teams" field="image" id=this._id}}
</template>
