<template name="MainContent">
  <h1> Main Events</h1>
  <div class="row mt">
      <div class="col-lg-12">
        <div class="row">
        {{#each events}}
          <div class="col-lg-3 col-md-3 col-sm-3 desc">
            <div class="project-wrapper">
              <div class="photo">
                <a href="/events/{{slug}}">
                  {{#unless image}}
                    <img src='/things/no-image-featured-image.png' class="img-responsive">
                  {{else}}
                    {{#with image}}
                      <img src='{{this.url}}' class="img-responsive">
                    {{/with}}
                  {{/unless}}
                  <div class="info">
                    <h3 class="centered">{{title}}</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        {{/each}}
        </div>
      </div>
    </div>
</template>
