<template name="bbUploadFile">
	{{#if file}}
		{{#if file.isUploaded}}
			{{> Template.dynamic template=previewTemplate data=file}}
		{{else}}
			Loading .. 
		{{/if}}
	{{else}}
	<button type="button" class="btn btn-default">{{label}}</button>
      <input type="file" class="hidden upload-file" accept="{{atts.accept}}">
	{{/if}}
     <input type="text" value={{value}} dta-schema-key={{schemaKey}}>
</template>
<template name="bbFileUploadThumbImg">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>