<template name="AdminEventView">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Event</h1>
            <p> Welcome to gaming central </p>
        </div>
        <div class="row">
        	{{> AdminEventsTable}}
        </div>
    </div>
</template>