<template name="AdminEventsTable">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Events</div>
			<div class="panel-body">
				<div class=""><button class="btn btn-outline btn-primary" id="btnNew">Add new</button></div>
				<div class="table-responsive">
					<table id="userData" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th> Image </th>
								<th>Game</th>
								<th>Title</th>
								<th>From Date</th>
								<th> To Date </th>
								<th>Action(s)</th>
							</tr>
						</thead>
						<tbody>
						{{#if isSubReady 'eventsList'}}
							{{#each events}}
								<tr class="userData">
									{{#if image}}
										{{#with image}}
												<td><img src="{{this.url}}" /></td>
										{{/with}}
									{{else}}
										<td><img src="/things/no-image-featured-image.png" width="100px" height="100px"/></td>
									{{/if}}
									<td>{{games}}</td>
									<td>{{title}}</td>
									<td>{{formatDate fromDate}}</td>
									<td>{{formatDate toDate}}</td>
									<td>{{> normalButtonEventAction}} </td>
								</tr>
							{{/each}}
						{{else}}
							Loading..
						{{/if}}
						</tbody
	>				</table>
				</div>
				<nav>
					{{> UIPagination itemsPerPage=3 pageNumber=5 count='adminEventsPage'}}
				</nav>
				{{> addImagesToDocModal}}
			</div>
		</div>
	</div>
</template>
<template name="normalButtonEventAction">
	<button class="btn btn-outline btn-primary" id='btnEdit'>Edit</button>
	<button class="btn btn-outline btn-primary" id="btnDelete">Delete</button>
	{{> btnAddImageToDoc collection="gm_events" field="image" id=this._id}}
</template>
