<template name="AdminEventForm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				{{> Template.dynamic template=addOrEdit}}
			</div>
		</div>
	</div>
</template>
<template name="insertAdminEventForm">
	<div class="panel-heading">Add Events</div>
	<div class="panel-body">
		 {{#autoForm collection="Events" id="insertAdminEventForm" type="insert" }}
		 	{{> afQuickField name='title'}}
		 	{{> afQuickField name='slug'}}
		 	{{> afQuickField name='games' autofocus=''}}
			!{{> afQuickField name='status'}}
			{{> afQuickField name='schedule'}}
		 	{{> afQuickField name='matchesId'}}
		 	{{> afQuickField name='description'}}
		 	{{> afQuickField name='pre_prize_pool'}}
		 	{{> afQuickField name='prize_pool'}}
			{{> afQuickField name="location"}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Add Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
	 	{{/autoForm}}
	</div>
</template>
<template name="updateAdminEventForm">
	<div class="panel-heading">Edit Event</div>
	<div class="panel-body">
		 {{#autoForm collection="Events" id="updateAdminEventForm" type="update" doc=docEvent}}
		 	{{> afQuickField name='title'}}
		 	{{> afQuickField name='slug'}}
		 	{{> afQuickField name='games' autofocus=''}}
			!{{> afQuickField name='status'}}
			{{> afQuickField name='schedule'}}
		 	{{> afQuickField name='matchesId'}}
		 	{{> afQuickField name='description'}}
		 	{{> afQuickField name='pre_prize_pool'}}
		 	{{> afQuickField name='prize_pool'}}
			{{> afQuickField name="location"}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Eidt Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
		 {{/autoForm}}
	</div>
</template>
<template name="adminEventImage">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>
