<template name="GamesListTemplate">
  {{#each games}}
    <div class="col-md-4 col-sm-4 mb">
      <a href="/games/{{slug}}">
        <div class="white-panel pn">
          <div class="white-header">
            <h5>{{title}}</h5>
          </div>
          <div class="centered">
            <img src="game.png"/>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</template>

<template name="MatchInGameListTemplate">
  {{#each game}}
  	{{title}}
  	<div class="row mt">
  		<div class="col-lg-12">
  			<div class="row">
  			{{#each matches}}
  				<div class="col-lg-6 col-md-6 col-sm-12">
  					<div class="showback">
  						<div class="row">
  						<div class="col-lg-5 col-md-5">
  								<div class="col-lg-6 col-md-6 centered">
  									<div class="row">
  									{{#if gameType}}
  										{{teeamInMatchDetail.[0].name}}
  									{{else}}
  										{{playerInMatchDetail.[0].nickName}}
  									{{/if}}
  										</div>
  									<div class="row">Score</div>
  								</div>
  								<div class="col-lg-6 col-md-6 centered">
  									Avatar
  								</div>
  							</div>
  							<div class="col-lg-2 col-md-2 centered">
  								<div class="row">Start time</div>
  								<div class="row">Count down </div>
  							</div>
  							<div class="col-lg-5 col-md-5">
  								<div class="col-lg-6 col-md-6 centered">
  									Avatar
  								</div>
  								<div class="col-lg-6 col-md-6 centered">
  									<div class="row">		{{#if gameType}}
  										{{teeamInMatchDetail.[1].name}}
  									{{else}}
  										{{playerInMatchDetail.[1].nickName}}
  									{{/if}}</div>
  									<div class="row">Score</div>
  								</div>
  							</div>
  						</div>
  						<a href="/matches/{{_id}}" class="btn btn-success">More Info</a>
  					</div>
  				</div>
  				{{/each}}
  			</div>
  		</div>
  	</div>
  {{/each}}
</template>
