<template name="btnAddImageToDoc">
  <button type="button" class="btn btn-outline btn-primary"> Add Image </button>
  <!-- {{> addModal }} -->
</template>
<template name="addImagesToDocModal">
  <div class="modal fade" id="addImagesToDocModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Choose Image</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
              <div class="panel-body">
                  {{#each images}}
                    <div class="col-lg-2 col-md-2">
                      <div class="row">
                        <img src={{url}} class="img-thumbnail" />
                      </div>
                      <button class="btn btn-success btn-xs" id="btnSelect"> Select </button>
                    </div>
                  {{/each}}
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="imageMetadataSave">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
