<template name="GalleryManagerView">
  <div class="row">
    <h1>Gallery</h1>
  </div>
  {{> Template.dynamic template='GalleryImageList'}}
</template>
<template name="GalleryImageList">
  <div class="row">
    <div class="col-lg-12 cold-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Gallery
        </div>
        <div class="panel-body">
          <div class="row">
            <button class="btn btn-outline btn-primary" id="btnGalleryUploadImage"> Upload Image </button>
            <button class="btn btn-outline btn-primary" id="btnGalleryAddAlbum"> Add Album </button>
          </div>
          <div class="row">
            <div class="col-lg--12">
              <form class="form-inline">
                <div class="form-group">
                  <label>Album : </label>
                  <select class="form-control">
                      <option value="">Select Value</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Created Date : </label>
                  <select class="form-control">
                      <option value="">Select Value</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
            {{> Template.dynamic template='ImagesList'}}
        </div>
      </div>
    </div>
  </div>
  {{imageFile}}
  {{> uploadGalleryImageModal}}
  {{> addAlbumModal}}
  {{> Template.dynamic template='editImageModal' data=imageFile}}
</template>
<template name="ImagesList">
  <div class="panel panel-default">
      <div class="panel-body">
          {{#each images}}
            <div class="col-lg-2 col-md-2">
              <div class="row">
                <img src={{url}} class="img-thumbnail" />
              </div>
              <button class="btn btn-primayr btn-xs" id="btnEdit"> Edit </button>
              {{#FS.DeleteButton class="btn btn-danger btn-xs"}} Delate {{/FS.DeleteButton}}
            </div>
          {{/each}}
      </div>
  </div>
</template>
<template name="uploadGalleryImageModal">
<div class="modal fade" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload your image</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="galleryDropzone col-lg-9 col-md-9 gallery-centered ">
            <div class="custom-file-upload text-center">
              <input type="file" id="file" class='gallery-file gallery-hidden' name="iamgefile" />
              <button class="btn btn-primary btn-xs gallery-btn-upload">Upload</button>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 gallery-centered">
            {{#with image}}
              {{#unless this.isUploaded}}
                 {{> FS.UploadProgressBar bootstrap=true class='progress-bar-success progress-bar-striped active' showPercent=true}}
              {{/unless}}
            {{/with}}
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
<template name="addAlbumModal">
  <div class="modal fade" id="albumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Upload your image</h4>
        </div>
        <div class="modal-body">
          <form class="albumForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input type="email" class="form-control" id="albumTitle" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Slug</label>
              <input type="password" class="form-control" id="albumSlug" placeholder="Slug">
            </div>
            <button type="button">Add album</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="editImageModal">
  <div class="modal fade" id="editImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Image</h4>
        </div>
        <div class="modal-body">
          {{#each imageFile}}
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <img src="{{this.url}}" />
            </div>
            <div class="col-lg-9 col-md-9">
                <form class="editImageForm">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="email" class="form-control" id="imageTitle" placeholder="Title" value="{{this.metadata.title}}">
                  </div>
                </form>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="imageMetadataSave">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
