.galleryDropzone {
  min-height: 200px;
  border: 1px dashed blue;
  button {
    margin-top: 15%;
  }
}
.gallery-hidden {
  display: none !important;
}
.gallery-centered {
  float: none;
  margin: 0 auto;
}
