<template name="Header">
	<header class="header black-bg">
      <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
        <!--logo start-->
        <a href="/" class="logo"><b>Cogs</b></a>
        <!--logo end-->
        <div class="top-menu">
        	<ul class="nav pull-right top-menu">
						{{#unless currentUser}}
            	<li><button type="button" class="logout" id="btnUserLogin">Sign In</button></li>
						{{else}}
							<li><button type="button" class="logout" id="btnUserLogout">Logout</button></li>
						{{/unless}}
        	</ul>
        </div>
    </header>
</template>
