<template name="HomeLayout">
	<section id="container" >
		{{> Template.dynamic template=header}}
		{{> Template.dynamic template=siderbar}}
		<section id="main-content">
			<section class="wrapper site-min-height">
				{{> Template.dynamic template=main}}
			</section>
		</section>
		{{>userLoginModal}}
	</section>
</template>
