<!-- <template name="MainContent">
	<h1> Main Events</h1>
	<div class="row mt">
  		<div class="col-lg-12">	
  			<div class="row">
  			{{#each events}}
  				<div class="col-lg-4 col-md-4 col-sm-4 mb">
  					<div class="pn">
  						<a href="/events">
	  						<img src='things/no-image-featured-image.png' class="img-responsive">
	  						<div class="info">
	  							<div class="row">
	  								<h3 class="centered">{{title}}</h3>
	  							</div>
	  						</div>
  						</a>
  					</div>
  				</div>
  			{{/each}}
  			</div>
  		</div>
  	</div>
</template> -->