<template name="Siderbar">
	<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

              	  <p class="centered"><a href="/"><img src="/things/logo.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">Gaming central</h5>
                  {{#each navMenu}}
                      <li class="mt">
                        <a href="{{url}}">
                            <i class="fa {{icon}}"></i>
                            <span>{{title}}</span>
                        </a>
                      </li>
                  {{/each}}
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
</template>
