<template name="userLoginModal">
  <!-- <div class="modal" id="userLoginModal" role="dialog"> -->
      <div class="modal" id="userLoginModal" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title centered">{{formHeader}}</h2>
            </div>
            <div class="modal-body">
              <div class="login-wrap">
                {{> Template.dynamic template=getForm data=this}}
		          </div>
            </div>
          </div>
        </div>
      </div>
  <!-- </div> -->
</template>
<template name="userLoginForm">
  <form>
    <input type="text" class="form-control" name="username" id="user-name" placeholder="User ID" autofocus="">
    <br>
    <input type="password" class="form-control" name="passwoord" id="user-pass" placeholder="Password">
    <label class="checkbox">
        <span class="pull-right">
            <a href="#" id="linkForgotPassword"> Forgot Password?</a>
        </span>
    </label>
    <button class="btn btn-theme btn-block" type="submit" id="btnSignIn"><i class="fa fa-lock"></i> SIGN IN</button>
  </form>
  <hr>
  <div class="login-social-link centered">
  <p>or you can sign in via your social network</p>
      <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
      <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
  </div>
  <div class="registration">
      Don't have an account yet?<br>
      <a class="" href="#">
          Create an account
      </a>
  </div>
</template>
<template name="userForgotPasswordForm">
    <p>Enter your e-mail address below to reset your password.</p>
    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
    <button class="btn btn-default centered" type="button" id="backToSignIn">Sign-in</button>
    <button class="btn btn-theme centered" type="button">Submit</button>
</template>
<template name="userCreateForm">
  <form>
    <input type="text" class="form-control" name="userName" id="user-name" placeholder="User ID" autofocus="">
    <br>
    <input type="text" class="form-control" name="userEmail" id="user-email" placeholder="Email" autofocus="">
    <br>
    <input type="password" class="form-control" name="userPassowrd" id="user-pass" placeholder="Password">
    <br>
    <input type="password" class="form-control" name="userRePassword" id="user-repass" placeholder="Password">
    <br>
    <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN UP</button>
  </form>
</template>
