<template name="EventRightDS">
  <div class="col-lg-3 ds">
  	<h3>SCHEDULE</h3>
    {{#with event}}
      {{#each event.schedule}}
        <div class="desc eventSchedule">
        	<div class="thumb">
        		<!-- <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span> -->
        	</div>
        	<div class="details">
          		<h2>{{title}}</h2>
              <p> Form date : {{formatDate fromDate}} </p>
              <p> To Date {{formatDate toDate}}</p>
        	</div>
        </div>
      {{/each}}
    {{/with}}
  </div>
  <div class="col-lg-3 ds">
  	<h3>LOCATION</h3>
    <div class="map-container">
      {{> googleMap name="map" options=mapOptions}}
    </div>
  </div>
</template>
