<template name="EventDetailTemplate">
{{#with event}}
	<div class="col-lg-9 col-md-9" id="eventMainContent">
		<h1> {{title}} </h1>
		{{>shareit}}
		<div class="row mt">
			<div class="col-lg-12 col-md-12">
				<div class="content-panel centered" id="videEmberContent">
					{{#unless emberVideo}}
						{{> selectYourChannel}}
					{{else}}
            <div class="video-container">
					    {{emberVideo}}
            </div>
					{{/unless}}
				</div>
			</div>
		</div>
		<div class="row mt">
			<div class="col-lg-12 col-md-12">
				<div class="showback">
				<h4> List channels </h4>
				{{#if isOwner owner }}
					{{> matchBtnModal}}
				{{ /if }}
				{{#each channelsLink}}
					<ul class="row">
						<h4>{{name}}</h4>
						{{#each linkArray}}
								 <li class="col-md-3">
								<p>{{parseLInkToHost this.link}}</p>
								<a href="{{this.link}}" target="_blank" class="btn btn-primary btn-xs">Go</a>
								<button  class="btn btn-primary btn-xs" data-href="{{this}}" id="getLink">Watch</button>
										{{#if isOwner event.owner}}
											{{> linkBtnAction}}
										{{/if}}
								</li>
							{{/each}}
					 </ul>
				 {{/each}}
				 {{> Template.dynamic template='editModalTempalte' data=docChannel}}
				</div>
			</div>
		</div>
		<div class="row mt">
			<div class="col-lg-12 col-md-12">
				<!-- <div class="showback"> -->
					{{> CommentBox}}
				<!-- </div> -->
			</div>
		</div>
	</div>
{{/with}}
{{> EventRightDS dataEvent=event}}
</template>
<template name="matchBtnModal">
	<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
	  Add Channel
	</button>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		        <h4 class="modal-title" id="myModalLabel">Share your channel</h4>
		      </div>
		      <div class="modal-body">
		        	{{#autoForm collection="Channels" id="insertChannelForm" type="insert" class=""}}
		        		{{> afQuickField name='channel.link'}}
		        		{{> afQuickField name='channel.language'}}
								{{> afQuickField name='channel.ember' rows=6}}
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save changes</button>{{/autoForm}}
		      </div>
		    </div>
		  </div>
		</div>
</template>
<template name="linkBtnAction">
		<button class="btn btn-primary btn-xs" id="editChannel" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil"></i></button>
		<button class="btn btn-danger btn-xs" id="deleteChannel"><i class="fa fa-fa fa-trash-o "></i></button>
</template>
<template name="editModalTempalte">
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="editModalLabel">Edit your channel</h4>
					</div>
					<div class="modal-body">
							{{#autoForm collection="Channels" id="updateChannelForm" type="update" doc=this}}
								{{> afQuickField name='channel.link'}}
								{{> afQuickField name='channel.language'}}
								{{> afQuickField name='channel.ember' rows=6}}
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>{{/autoForm}}
					</div>
				</div>
			</div>
		</div>
</template>
<template name="selectYourChannel">
	<div class="row centered selectChannelText">
			<h1> Select your channel </h1>
	</div>
</template>
