<template name="dashboardTemplate">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
            <p> Welcome to gaming central </p>
        </div>
    </div>
</template>