<template name="AdminMatchForm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				{{> Template.dynamic template=addOrEdit}}
			</div>
		</div>
	</div>
</template>
<template name="insertAdminMatchForm">
	<div class="panel-heading">Add Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Matches" id="insertAdminMatchForm" type="insert" }}
		 	{{> afQuickField name='matchType' class='matchType'}}
		 	{{> afQuickField name='game' autofocus=''}}
		 	{{> afQuickField name='teams' class='teams' options=teamOrPlayer label=tpLabel}}
		 	{{> afQuickField name='status'}}
		 	{{> afQuickField name='score'}}
		 	{{> afQuickField name='startTime'}}
<!-- 		 	{{> afQuickField name='round'}} -->
	 	<div>
	      <button type="submit" class="btn btn-primary">Add Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
	 	{{/autoForm}}
	</div>
</template>
<template name="updateAdminMatchForm">
	<div class="panel-heading">Edit Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Matches" id="updateAdminMatchForm" type="update" doc=docMatch}}
		 	{{> afQuickField name='matchType' class='matchType'}}
		 	{{> afQuickField name='game' autofocus=''}}
		 	{{> afQuickField name='teams' class='teams' options=teamOrPlayer label=tpLabel}}
		 	{{> afQuickField name='status'}}
		 	{{> afQuickField name='score'}}
		 	{{> afQuickField name='startTime'}}
<!-- 		 	{{> afQuickField name='round'}} -->
	 	<div>
	      <button type="submit" class="btn btn-primary">Eidt Player</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
		 {{/autoForm}}
	</div>
</template>
<template name="adminMatchImage">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>