<template name="AdminMatchesView">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Matches</h1>
            <p> Welcome to gaming central </p>
        </div>
        <div class="row">
        	{{> AdminMatchesTable}}
        </div>
    </div>
</template>