<template name="AdminMatchesTable">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Matches</div>
			<div class="panel-body">
				<div class=""><button class="btn btn-outline btn-primary" id="btnNew">Add new</button></div>
				<div class="table-responsive">
					<table id="userData" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<td>Game</td>		
								<th>Match Type</th>
								<td>Teams</td>
								<td>Status</td>
								<td>Score</td>
								<td>Times</td>
								<th>Action(s)</th>
							</tr>
						</thead>
						<tbody>
						{{#if isSubReady 'matchesList'}}
							{{#each matches}}
								<tr class="userData">
									<td>{{game}}</td>
									<td>{{matchType}}</td>
									<td>{{teams}}</td>
									<td>{{status}}</td>
									<td>{{score}}</td>
									<td>{{formatDate times}}</td>
									<td>{{> normalButtonAction}} </td>
								</tr>
							{{/each}}
						{{else}}
							Loading..
						{{/if}}
						</tbody
	>				</table>
				</div>
				<nav>
					{{> UIPagination itemsPerPage=3 pageNumber=5 count='admimMatchesPage'}}
				</nav>
			</div>
		</div>
	</div>
</template>
