<template name="AdminGamesForm">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				{{> Template.dynamic template=addOrEdit}}
			</div>
		</div>
	</div>
</template>
<template name="insertAdminGamesForm">
	<div class="panel-heading">Add Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Games" id="insertAdminGamesForm" type="insert" }}
		 	{{> afQuickField name='title' autofocus=''}}
		 	{{> afQuickField name='slug'}}
		 	{{> afQuickField name='image'}}
		 	{{> afQuickField name='description'}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Add Game</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
	 	{{/autoForm}}
	</div>
</template>
<template name="updateAdminGamesForm">
	<div class="panel-heading">Edit Game</div>
	<div class="panel-body"> 
		 {{#autoForm collection="Games" id="updateAdminGamesForm" type="update" doc=docGame}}
		 	{{> afQuickField name='title' autofocus=''}}
		 	{{> afQuickField name='slug'}}
		 	{{> afQuickField name='image'}}
		 	{{> afQuickField name='description'}}
	 	<div>
	      <button type="submit" class="btn btn-primary">Eidt Game</button>
	      <button type="reset" class="btn btn-default">Reset</button>
	    </div>
		 {{/autoForm}}
	</div>
</template>
<template name="adminGameIcon">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>