<template name="AdminGameView">
		<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Game</h1>
            <p> Welcome to gaming central </p>
        </div>
        <div class="row">'
	    	{{> AdminGamesTable}}
    	</div> 
    </div>
</template>