<template name="AdminUserView">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">User</h1>
        </div>
    </div>
    <div class="row">'
    	{{> AdminUserTable}}
    	{{> AdminUserEditForm}}
    </div> 
</template>