<template name="AdminUserTable">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">Users ( watting cfs:autoform update form and fix refresh )</div>
			<div class="panel-body">
				<div class=""><button class="btn btn-outline btn-primary" id="btnNew">Add new</button></div>
				<div class="table-responsive">
					<table id="userData" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>Email</th>
								<th>Role</th>
								<th>Action(s)</th>
							</tr>
						</thead>
						<tbody>
						{{#if isSubReady 'usersList'}}
							{{#each users}}
								<tr class="userData">
									<td>{{emails.[0].address}}</td>
									<td>{{roles}}</td>
									<td>{{> adminButtonAction}} </td>
								</tr>
							{{/each}}
						{{else}}
							Loading..
						{{/if}}
						</tbody>
					</table>
				</div>
				<nav>
					{{> UIPagination itemsPerPage=3 pageNumber=5 count='userPages'}}
				</nav>
			</div>
		</div>
	</div>
</template>
<template name="adminButtonAction">
	<button class="btn btn-outline btn-primary" id='btnEdit'>Edit</button>
	<button class="btn btn-outline btn-primary" id="btnDelete">Delete</button>
	<button class="btn btn-outline btn-primary" id="btnBlock">Block</button>
</template>