<template name="AdminUserEditForm">
	<div class="col-lg-4">
		<div class="panel panel-default">
			{{#if addOrEdit}}
				<div class="panel-heading">Add Users</div>
				<div class="panel-body"> 
					{{> insertUserForm}}
				</div>
			{{else}}
				<div class="panel-heading">Edit Users</div>
				<div class="panel-body"> 
					{{> Template.dynamic template='updateUserForm' }}
				</div>
			{{/if}}
		</div>
	</div>
</template>
<template name="insertUserForm">
	 {{#autoForm collection="Meteor.users" id="insertUserForm" type="insert" }}
	 	{{> afQuickField name='profile.images'}}
	 	{{> afQuickField name='username' autofocus=''}}
	 	{{> afQuickField name='emails.0.address'}}
	 	{{> afQuickField name='roles'}}
	 	{{> afQuickField name='profile.firstName'}}
	 	{{> afQuickField name='profile.lastName'}}
	 	{{> afQuickField name='profile.birthday'}}
	 	{{> afQuickField name='profile.gender' options="allowed" }}
	 	{{> afQuickField name='profile.country.name'}}
 	<div>
      <button type="submit" class="btn btn-primary">Add Person</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
	 {{/autoForm}}
</template>
<template name="updateUserForm">
	 {{#autoForm collection="Meteor.users" id="updateUserForm" type="update" doc=docUser}}
	 	{{#if file}}
			{{> Template.dynamic template='ThumbImg' data=file}}
		{{/if}}
	 	{{> afQuickField name='profile.images'}}
	 	{{> afQuickField name='username' autofocus=''}}
	 	{{> afQuickField name='emails.0.address'}}
	 	{{> afQuickField name='roles'}}
	 	{{> afQuickField name='profile.firstName'}}
	 	{{> afQuickField name='profile.lastName'}}
	 	{{> afQuickField name='profile.birthday'}}
	 	{{> afQuickField name='profile.gender' options="allowed" }}
	 	{{> afQuickField name='profile.country.name'}}
 	<div>
      <button type="submit" class="btn btn-primary">Add Person</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
	 {{/autoForm}}
</template>
<template name="ThumbImg">
	<img src="{{url}}" alt="" class="img-fileUpload-thumbnail img-responsive img-circle">
</template>